/* main.css */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap");
:root {
  --poppins: "Poppins", sans-serif;
  --lato: "Lato", sans-serif;

  --light: #f9f9f9;
  --green: #009933;
  --light-blue: #cfe8ff;
  --grey: #eee;
  --dark-grey: #aaaaaa;
  --dark: #342e37;
  --red: #db504a;
  --yellow: #ffce26;
  --light-yellow: #fff2c6;
  --orange: #fd7238;
  --light-orange: #ffe0d3;
}

body {
  font-family: var(--lato);
  background-color: #f38686;
  margin: 0;
  padding: 0;
}

.alert {
  margin-left: 20%;
  background: transparent;
}
.alert-danger {
  color: red;
}
/* header */

header {
  position: fixed;
  width: 100%;
  z-index: 999;
}
#nav-fluid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#brand,
#nav-link {
  color: white;

  padding: 8px 15px;
  text-decoration: none;
  list-style: none;
  font-family: var(--poppins);
}
#nav-link {
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 20px;
}

#nav-link i {
  margin-right: 10px;
}

#brand {
  margin-right: 7%;
  font-weight: 500;
}

.custom-navbar {
  background-color: var(--green);
}

/* login.css */

body {
  font-family: var(--poppins);
  background-color: #05192d;
  color: var(--wf-text--main);
}

body.bg-gray-100 {
  background-color: #f7f7f7;
}

body.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body.items-center {
  align-items: center;
}

body.h-screen {
  height: 100vh;
}

div.bg-white {
  background-color: #fff;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.1);
}

h2.text-2xl {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

label.block {
  display: block;
  margin-bottom: 0.5rem;
}

label.text-sm {
  font-size: 1.2rem;
}

label.text-gray-700 {
  color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  width: 100%;
}

input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #444;
}

i.fas {
  font-size: 1.5rem;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  color: #ccc;
}

p.text-center {
  text-align: center;
  margin-top: 1rem;
}

a.text-blue-500 {
  color: #3498db;
}

a.text-blue-500:hover {
  color: #2c6ead;
}

/* account.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

main {
  position: relative;
  bottom: -30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  height: auto;
}

main h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

main h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

main h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

main form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main form fieldset {
  border: none;
  padding: 0;
}

main form legend {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

main form div {
  margin-bottom: 1rem;
}

main form label {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

main form input[type="text"],
main form input[type="email"],
main form input[type="password"] {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  width: 100%;
}

main form input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

main form input[type="submit"]:hover {
  background-color: #444;
}

main img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

/* schedule.css */

/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  color: #333;
}

/* Content Styles */
.content {
  padding: 20px;
}

/* Container Styles */
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form Styles */
form {
  margin-top: 20px;
}

form fieldset {
  border: 1px solid #003366; /* Dark Blue */
  border-radius: 8px;
  padding: 20px;
}

form legend {
  color: var(--dark); /* Dark Blue */
  font-weight: bold;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  color: var(--dark); /* Dark Blue */
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.btn-update,
.btn-delete,
.btn-complete,
.btn-primary {
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
  margin-right: 2%;
}

.btn-primary {
  background: var(--green); /* Dark Blue */
}

.btn-update {
  background: var(--green); /* Dark Blue */
}

.btn-complete {
  background-color: rgb(3, 3, 235);
}
.btn-delete {
  background: var(--red); /* Dark Blue */
}
.btn-primary:hover {
  background: #002244; /* Darker Blue */
}
/* Delete Button */
#delete-form {
  display: none;
  border: none;
  margin: 0;
  padding: 0;
  background-color: white;
  cursor: pointer;
}

/* User Dashboard */
.user_dashboard {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  flex-direction: column;
}

.user_dashboard h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.user-title {
  padding: 2%;
  font-size: 2rem;
  font-weight: bold;

  text-align: center;
}

.user-title a button {
  padding: 10px 20px;
  background-color: var(--green);
  color: white;
  font-size: 17px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: var(--poppins);
  text-align: center;
}

.user-title a button i {
  margin-right: 1rem;
  font-size: 20px;
}

.user {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.user-info {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: 0 1rem;
  padding: 1rem;
  height: 60vh;
  border-radius: 5px;
}

.user-info span {
  padding: 2%;
  margin: 2%;
  font-family: var(--lato);
}

.schedules {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 0 1rem;
  padding: 1rem;
  height: 60vh;

  border-radius: 5px;
}

.user-sidebar {
  padding: 1%;
  position: fixed;
  top: 50px;
  left: 0;
  width: 300px;
  height: 100%;
  background-color: var(--dark);
  color: white;
  overflow-y: scroll;
  z-index: 1;
  border-top-right-radius: 7px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.user-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  flex-direction: row;
}

.user-title img {
  width: 70px;
  height: 70px;
  display: flex;
  border: 3px solid var(--green);
}

.user-name {
  font-size: 20px;
  font-family: var(--poppins);
}
.user-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: left;
  width: 100%;
  margin: 0;
  padding: 0;

  height: 60vh;
  border-radius: 5px;
}

.user-info span {
  width: 100%;
  margin-top: 15px;
  padding: 0;
  font-size: 17px;
}

/* User Schedule  Management */

.user {
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  flex-direction: column;
  margin: 4%;
}

.user-control {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  flex-direction: column;
  margin-left: 15%;
}

.user-control button {
  width: 200px;
}

.schedules {
  width: 100%;
  margin-left: 15%;
  margin-top: 5%;
  height: auto;
}

.recycle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  flex-direction: column;
  padding: 2%;
  height: auto;
}

.recycle-item {
  background-color: var(--light);
  width: 100%;
  margin: 2%;
  padding: 2%;
  color: #010912;
  display: flex;
  min-height: 100px;
  justify-content: space-between;
}

.btn-manage {
  width: 200px;
  align-items: center;
}
.recycle-info {
  display: flex;
  align-self: flex-start;
  justify-content: center;
  flex-direction: column;
  width: auto;
}
.user-sidebar {
  width: 250px;
  transition: transform 0.3s ease;
}

.user-sidebar.sidebar-hidden {
  transform: translateX(-75%);
}
#menu {
  cursor: pointer;
}

/* Manage */
.manage {
  margin-top: 5%;
  padding: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}

.manage .task {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;

  margin: 3%;
}

.manage .task .highlight {
  font-weight: bold;
  font-family: var(--poppins);
}

.manage .controls {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  margin: 2%;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .schedules {
    width: 100%;
    margin-left: 1%;
    margin-top: 5%;
    height: auto;
  }

  .recycle {
    width: 85%;
    flex-direction: column;
    margin-left: 3%;
  }

  .recycle-item {
    background-color: var(--light);
    width: 100%;
    height: fit-content;
    margin: 2%;
    padding: 1%;
    color: #010912;
    display: flex;
    min-height: 80px;
    justify-content: space-between;
    flex-direction: column;
  }
  .user-title {
    width: 100%;
  }

  .user-sidebar.sidebar-hidden {
    transform: translateX(-85%);
  }
}
