{% extends 'base.html'%} {% block content %}

<form action="" method="POST" enctype="multipart/form-data">
  {{form.hidden_tag()}}
  <fieldset>
    <legend>Account Info</legend>
    <img src="{{img_file}}" alt="" />

    <h1>{{current_user.first_name}}</h1>
    <h2>{{current_user.last_name}}</h2>
    <h3>{{current_user.email}}</h3>
    <div>{{form.first_name.label}} {{form.first_name}}</div>
    <div>{{form.last_name.label}} {{form.last_name}}</div>
    <div>{{ form.email.label }} {{form.email}}</div>
    <div>{{form.picture}}</div>
    <div>{{form.submit}}</div>
  </fieldset>
</form>

{% endblock %}
