{% extends "admin_base.html" %} {% block sidebar %}
<ul class="side-menu top">
  <li class="active">
    <a href="{{url_for('admin_dashboard')}}">
      <i class="bx bxs-dashboard"></i>
      <span class="text">Dashboard</span>
    </a>
  </li>

  <li>
    <a href="{{url_for('users')}}">
      <i class="bx bxs-group"></i>
      <span class="text">Users</span>
    </a>
  </li>

  <li>
    <a href="{{url_for('admin_user_schedule')}}">
      <i class="bx bx-calendar"></i>
      <span class="text">Schedules</span>
    </a>
  </li>
</ul>
{% endblock %} {% block content %}

<!-- MAIN -->
<main>
  <div class="head-title">
    <div class="left">
      <h1>Dashboard</h1>
      <ul class="breadcrumb">
        <li>
          <a href="{{url_for('admin_dashboard')}}">Dashboard</a>
        </li>
        <li><i class="bx bx-chevron-right"></i></li>
        <li>
          <a class="active" href="{{url_for('user_dashboard')}}">Home</a>
        </li>
      </ul>
    </div>
  </div>

  <ul class="box-info">
    <li>
      <i class="bx bxs-group"></i>
      <span class="text">
        <h3>{{users|length}}</h3>
        <p>Total Users</p>
      </span>
    </li>
    <li>
      <i class="bx bxs-calendar"></i>
      <span class="text">
        <h3>{{user_schedule|length}}</h3>
        <p>Total Schedules</p>
      </span>
    </li>
    <li>
      <i class="bx bx-check"></i>
      <span class="text">
        <h3>{{collected}}</h3>
        <p>Schedules Collected</p>
      </span>
    </li>
  </ul>

  <div class="table-data">
    <div class="order">
      <div class="head">
        <h3>This Week's Waste Collection Schedules</h3>
        <i class="bx bx-filter"></i>
      </div>
      <table>
        <thead>
          <tr>
            <th>User</th>
            <th>Date Order</th>
            <th>location</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}{% set sorted_schedules = user_schedule |
          sort(attribute='date') %} {% for schedule in sorted_schedules %} {% if
          schedule.user_id == user.id %} {% set days_difference = (schedule.date
          - datetime.now()).days %} {% if days_difference < 7 and
          days_difference >= 0 %}
          <tr>
            <td>
              <img
                src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}"
              />
              <p>{{ user.first_name }} {{ user.last_name }}</p>
            </td>
            <td>{{ schedule.date.strftime('%A, %B %d') }}</td>
            <td>{{ user.location }}</td>
            <td>
              <span
                class="status {% if schedule.collected %}completed{% else %}pending{% endif %}"
              >
                {% if schedule.collected %}Collected{% else %}Pending{% endif %}
              </span>
            </td>
          </tr>
          {% endif %} {% endif %} {% endfor %} {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="todo">
      <div class="head">
        <h3>Users location</h3>
      </div>
      <ul class="todo-list">
        {% for location in unique_location %}
        <li>
          <span
            ><i class="bx bxs-map" style="color: green"></i>
            {{location.location}}</span
          >
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</main>

{% endblock %}
