<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Smart Waste Management</title>

    <!-- My CSS -->
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/main.css')}}"
    />

    <!-- Boxicons -->
    <link
      href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="main-header">
      <ul class="nav-list">
        <!-- In flask url_for is use to connect different pages -->
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('recycle')}}">Recycle</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('schedule')}}">Schedule</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('account')}}">Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('user_dashboard')}}"
            >User Dashboard</a
          >
        </li>
        {% if current_user.is_admin %}
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('admin_dashboard')}}"
            >Admin Dashboard</a
          >
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('login')}}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('register')}}">Register</a>
        </li>
        {% endif %}
      </ul>
    </header>

    <main class="content">{% block content %} {% endblock %}</main>
  </body>
</html>
