{% extends 'base.html'%} {% block content %}

<div class="manage">
  <h1>Manage Schedule</h1>
  <div class="task">
    <span
      ><span class="highlight">Date: </span>{{ user_schedule.date.strftime('%A,
      %B %d, %Y') }}</span
    >
    <span><span class="highlight">Type:</span> {{ user_schedule.type }}</span>
  </div>
  <div class="controls">
    <a href="{{ url_for('update_schedule', schedule_id=user_schedule.id) }}">
      <button class="btn-update"><i class="bx bxs-edit"></i>Update</button>
    </a>
    <form
      id="delete-form"
      action="{{ url_for('delete_schedule', schedule_id=user_schedule.id) }}"
      method="post"
      style="display: inline"
      onsubmit="return confirmDelete()"
    >
      <button type="submit" class="btn-delete">
        <i class="bx bxs-trash"></i> Delete
      </button>
    </form>
  </div>
</div>

<script>
  function confirmDelete() {
    return confirm("Are you sure you want to delete this schedule?");
  }
</script>

{% endblock %}
