<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration - Smart Waste Management</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
    <style>
      .btn-primary {
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background 0.3s;
        margin-right: 2%;
        background-color: #009933;
      }
    </style>
  </head>
  <body class="bg-gray-100 flex justify-center items-center h-screen">
    <div class="bg-white p-8 rounded-lg shadow-lg w-96">
      <h2 class="text-2xl font-bold mb-6">Registration</h2>
      <form method="POST">
        {{ form.hidden_tag() }}
        <div class="grid md:grid-cols-2 md:gap-6">
          <div class="relative z-0 w-full mb-5 group">
            {{ form.first_name.label(class="peer-focus:font-medium absolute
            text-sm text-gray-500 dark:text-gray-400 duration-300 transform
            -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0
            peer-focus:text-blue-600 peer-focus:dark:text-blue-500
            peer-placeholder-shown:scale-100
            peer-placeholder-shown:translate-y-0 peer-focus:scale-75
            peer-focus:-translate-y-6") }} {{ form.first_name(class="block
            py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0
            border-b-2 border-gray-300 appearance-none dark:text-white
            dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none
            focus:ring-0 focus:border-blue-600 peer") }}
          </div>
          <div class="relative z-0 w-full mb-5 group">
            {{ form.last_name.label(class="peer-focus:font-medium absolute
            text-sm text-gray-500 dark:text-gray-400 duration-300 transform
            -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0
            peer-focus:text-blue-600 peer-focus:dark:text-blue-500
            peer-placeholder-shown:scale-100
            peer-placeholder-shown:translate-y-0 peer-focus:scale-75
            peer-focus:-translate-y-6") }} {{ form.last_name(class="block py-2.5
            px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2
            border-gray-300 appearance-none dark:text-white dark:border-gray-600
            dark:focus:border-blue-500 focus:outline-none focus:ring-0
            focus:border-blue-600 peer") }}
          </div>
        </div>
        <div class="grid md:grid-cols-2 md:gap-6">
          <div class="relative z-0 w-full mb-5 group">
            {{ form.email.label(class="peer-focus:font-medium absolute text-sm
            text-gray-500 dark:text-gray-400 duration-300 transform
            -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0
            peer-focus:text-blue-600 peer-focus:dark:text-blue-500
            peer-placeholder-shown:scale-100
            peer-placeholder-shown:translate-y-0 peer-focus:scale-75
            peer-focus:-translate-y-6") }} {{ form.email(class="block py-2.5
            px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2
            border-gray-300 appearance-none dark:text-white dark:border-gray-600
            dark:focus:border-blue-500 focus:outline-none focus:ring-0
            focus:border-blue-600 peer") }}
          </div>
          <div class="relative z-0 w-full mb-5 group">
            {{ form.sex.label(class="peer-focus:font-medium absolute text-sm
            text-gray-500 dark:text-gray-400 duration-300 transform
            -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0
            peer-focus:text-blue-600 peer-focus:dark:text-blue-500
            peer-placeholder-shown:scale-100
            peer-placeholder-shown:translate-y-0 peer-focus:scale-75
            peer-focus:-translate-y-6") }} {{ form.sex(class="block py-2.5 px-0
            w-full text-sm text-gray-900 bg-transparent border-0 border-b-2
            border-gray-300 appearance-none dark:text-white dark:border-gray-600
            dark:focus:border-blue-500 focus:outline-none focus:ring-0
            focus:border-blue-600 peer") }}
          </div>
        </div>
        <div class="grid md:grid-cols-2 md:gap-6">
          <div class="relative z-0 w-full mb-5 group">
            {{ form.address.label(class="peer-focus:font-medium absolute text-sm
            text-gray-500 dark:text-gray-400 duration-300 transform
            -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0
            peer-focus:text-blue-600 peer-focus:dark:text-blue-500
            peer-placeholder-shown:scale-100
            peer-placeholder-shown:translate-y-0 peer-focus:scale-75
            peer-focus:-translate-y-6") }} {{ form.address(class="block py-2.5
            px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2
            border-gray-300 appearance-none dark:text-white dark:border-gray-600
            dark:focus:border-blue-500 focus:outline-none focus:ring-0
            focus:border-blue-600 peer") }}
          </div>
          <div class="relative z-0 w-full mb-5 group">
            {{ form.location.label(class="peer-focus:font-medium absolute
            text-sm text-gray-500 dark:text-gray-400 duration-300 transform
            -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0
            peer-focus:text-blue-600 peer-focus:dark:text-blue-500
            peer-placeholder-shown:scale-100
            peer-placeholder-shown:translate-y-0 peer-focus:scale-75
            peer-focus:-translate-y-6") }} {{ form.location(class="block py-2.5
            px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2
            border-gray-300 appearance-none dark:text-white dark:border-gray-600
            dark:focus:border-blue-500 focus:outline-none focus:ring-0
            focus:border-blue-600 peer") }}
          </div>
        </div>
        <div class="grid md:grid-cols-2 md:gap-6">
          <div class="relative z-0 w-full mb-5 group">
            {{ form.house_number.label(class="peer-focus:font-medium absolute
            text-sm text-gray-500 dark:text-gray-400 duration-300 transform
            -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0
            peer-focus:text-blue-600 peer-focus:dark:text-blue-500
            peer-placeholder-shown:scale-100
            peer-placeholder-shown:translate-y-0 peer-focus:scale-75
            peer-focus:-translate-y-6") }} {{ form.house_number(class="block
            py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0
            border-b-2 border-gray-300 appearance-none dark:text-white
            dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none
            focus:ring-0 focus:border-blue-600 peer") }}
          </div>
          <div class="relative z-0 w-full mb-5 group">
            {{ form.phone_number.label(class="peer-focus:font-medium absolute
            text-sm text-gray-500 dark:text-gray-400 duration-300 transform
            -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0
            peer-focus:text-blue-600 peer-focus:dark:text-blue-500
            peer-placeholder-shown:scale-100
            peer-placeholder-shown:translate-y-0 peer-focus:scale-75
            peer-focus:-translate-y-6") }} {{ form.phone_number(class="block
            py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0
            border-b-2 border-gray-300 appearance-none dark:text-white
            dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none
            focus:ring-0 focus:border-blue-600 peer") }}
          </div>
        </div>
        <div class="grid md:grid-cols-2 md:gap-6">
          <div class="relative z-0 w-full mb-5 group">
            {{ form.password.label(class="peer-focus:font-medium absolute
            text-sm text-gray-500 dark:text-gray-400 duration-300 transform
            -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0
            peer-focus:text-blue-600 peer-focus:dark:text-blue-500
            peer-placeholder-shown:scale-100
            peer-placeholder-shown:translate-y-0 peer-focus:scale-75
            peer-focus:-translate-y-6") }} {{ form.password(class="block py-2.5
            px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2
            border-gray-300 appearance-none dark:text-white dark:border-gray-600
            dark:focus:border-blue-500 focus:outline-none focus:ring-0
            focus:border-blue-600 peer") }}
          </div>
          <div class="relative z-0 w-full mb-5 group">
            {{ form.confirm_password.label(class="peer-focus:font-medium
            absolute text-sm text-gray-500 dark:text-gray-400 duration-300
            transform -translate-y-6 scale-75 top-3 -z-10 origin-[0]
            peer-focus:left-0 peer-focus:text-blue-600
            peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100
            peer-placeholder-shown:translate-y-0 peer-focus:scale-75
            peer-focus:-translate-y-6") }} {{ form.confirm_password(class="block
            py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0
            border-b-2 border-gray-300 appearance-none dark:text-white
            dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none
            focus:ring-0 focus:border-blue-600 peer") }}
          </div>
        </div>
        <button type="submit" class="btn-primary">Sign Up</button>
      </form>
    </div>
  </body>
</html>
