{% extends 'base.html'%} {% block content %}

<div class="register">
  <form action="" method="POST">
    {{form.hidden_tag()}}
    <fieldset>
      <legend>Register</legend>
      <div>{{form.username.label}} {{form.username}}</div>
      <div>{{ form.email.label }} {{form.email}}</div>
      <div>{{form.password.label}} {{form.password}}</div>
      <div>{{form.confirm_password.label}} {{ form.confirm_password }}</div>
      <div>
        {{form.submit}}
        <a href="{{url_for('login')}}"> Already Registered? Login</a>
      </div>
    </fieldset>
  </form>
  <a href="{{url_for('home')}}">Back To Home</a>
</div>
{% endblock %}
